body {
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: 
    url("/backgr.jpg") no-repeat top center,
    linear-gradient(180deg, #e6f4ff 0%, #ffffff 100%);
    background-size: cover;
}

.login-box {
  background: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 360px;
  text-align: center;
}


.login-header .logo {
  width: 120px;    /* chỉnh kích thước mong muốn */
  height: auto;
  margin-bottom: 10px;
}


.login-header h2 {
  margin: 8px 0;
  color: #007bff;
}

.login-header p {
  font-size: 14px;
  color: #666;
}

.login-form {
  margin-top: 20px;
  display: grid;
  gap: 16px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 12px;
  background: #fafafa;
}

.input-group .icon {
  margin-right: 8px;
  font-size: 16px;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  font-size: 14px;
}

.btn-login {
  padding: 12px;
  background: linear-gradient(135deg, #ff7a00, #ff9900);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-login:hover {
  background: linear-gradient(135deg, #ff8c1a, #ffae33);
}

.footer-text {
  margin-top: 16px;
  font-size: 12px;
  color: #999;
}

